<div ng-if=(!isProcessing())>
  <div ng-if="(items.length > 0)">
    <h3>Found Items List:</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Short Name</th><th>Description</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{ item.name }}</td><td>{{ item.short_name }}</td><td>{{item.description}}</td>
          <td><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="font-weight: bold; color: red" ng-if="(items.length == 0)"><br>Nothing found</div>
</div>
